.homepage{
  display: flex;
  flex-wrap: wrap;
}
.homepage .manageWrapper{
  display: flex;
  border: 2px solid #737373;
  width: 100%;
  margin-bottom: 10px;
}
/*
Change color of stuff to #F49A87 when click/tap
*/
.homepage .manageWrapper .folders{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.homepage .manageWrapper .manage{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
}
.homepage .subreddit{
  flex-grow: 1;
  color: #fff4e8;
  border: 1px solid #737373;
  padding: 10px;
  display: flex;
  align-items: center;
}

.homepage .subreddit .favouriteStar{
  margin-right: 4px;
}

