.homePage{
  display: flex;
  flex-wrap: wrap;
}
.homePage .navWrapper{
  display: flex;
  border-bottom: 2px solid #737373;
  width: 100%;
  margin-bottom: 5px;
}
/*
TODO: Change color of stuff to #F49A87 when click/tap
TODO: Change mouse icon for hover over things
*/
.homePage .navWrapper .folders{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.homePage .navWrapper .manage{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
}
.homePage .subreddit{
  color: #fff4e8;
  border: 1px solid #737373;
  padding: 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 5px;
}

.homePage .subreddit .favouriteStar{
  margin-right: 4px;
}

