.imageViewerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageViewerPage .navWrapper.hideNav{
  visibility: hidden;
}
.imageViewerPage .navWrapper.showNav{
  visibility: unset;
}
.imageViewerPage .navWrapper{
  z-index: 1;
  position: absolute;  
  display: flex;
  border-bottom: 2px solid #737373;
  width: 100%;
  background-color: #595959;
  transform: translate3d(0, -100%, 0);
  opacity: 0.8;
}
.imageViewerPage .navWrapper.show{
  transform: translate3d(0, 0, 0);
}
.imageViewerPage .navWrapper.slideDown {
  animation: slideDown 0.2s;
}
@keyframes slideDown {
  0% {transform: translate3d(0, -100%, 0)} 
  100% {transform: translate3d(0, 0, 0)}
}
.imageViewerPage .navWrapper.slideUp {
  animation: slideUp 0.2s;
}
@keyframes slideUp {
  0% {transform: translate3d(0, 0, 0)} 
  100% {transform: translate3d(0, -100%, 0)}
}
.imageViewerPage .navWrapper > div{
  overflow: hidden;
  height: 22px;
}
.imageViewerPage .navWrapper .back{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .edit{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .share{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .addToFolder{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.imageViewerPage .imageContainer.hide {
  display: none;
}
@media (orientation: landscape) {
  .imageViewerPage .imageContainer img{
    height: 100vh;
  }
}
@media (orientation: portrait) {
  .imageViewerPage .imageContainer img{
    max-width: 100vw;
  }
}
.imageViewerPage .foldersContainer{
  display: none;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 42px; /* For the Nav above it.*/
}
.imageViewerPage .foldersContainer.show{
  display: flex;
}

.imageViewerPage .folder{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff4e8;
  border: 1px solid #737373;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.imageViewerPage .folder .folderImageCount{
  opacity: 0.5;
  margin-left: 20px;
  font-size: 0.9em;
  margin-right: -2px;
}
.imageViewerPage .toast{
  border-radius: 2px;
  position: fixed;
  visibility: hidden;
  padding: 16px;
  bottom: 30px;
  background-color:#d3869b  
}
.imageViewerPage .showToast{
  visibility: visible;
  animation: imageViewerToastFadeIn 0.5s, imageViewerToastFadeOut 0.6s 2.5s;
}
@keyframes imageViewerToastFadeIn {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes imageViewerToastFadeOut {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
