.imageViewerPage {
  display: flex;
  flex-direction: column;
}
.imageViewerPage .navWrapper.hideNav{
  visibility: hidden;
}
.imageViewerPage .navWrapper.showNav{
  visibility: unset;
}
.imageViewerPage .navWrapper{
  visibility: hidden;
  z-index: 1;
  position: absolute;  
  display: flex;
  border-bottom: 2px solid #737373;
  width: 100%;
  position: absolute;
  background-color: #595959;
}
.imageViewerPage .navWrapper > div{
  overflow: hidden;
  height: 22px;
}
.imageViewerPage .navWrapper .back{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .edit{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .share{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .navWrapper .addToFolder{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (orientation: landscape) {
  .imageViewerPage .imageContainer img{
    height: 100vh;
  }
}
@media (orientation: portrait) {
  .imageViewerPage .imageContainer img{
    max-width: 100vw;
  }
}

/* .imageViewerPage .navWrapper .edit{
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  outline: 1px solid #fff4e8;
} */

