.imageViewerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageViewerPage .navWrapper{
  z-index: 3;
  position: absolute;  
  display: flex;
  border-bottom: 2px solid #737373;
  width: 100%;
  background-color: #595959;
  transform: translate3d(0, -100%, 0);
  opacity: 0.8;
}
.imageViewerPage .navWrapper > *{
  cursor: pointer;
}
.imageViewerPage .navWrapper > *:hover{
  outline: 1px solid #F49A87;
}
.imageViewerPage .navWrapper > *:hover *{
  stroke: #F49A87;
}
.imageViewerPage .navWrapper.show{
  transform: translate3d(0, 0, 0);
}
.imageViewerPage .navWrapper.slideDown {
  animation: slideDown 0.2s;
}
@keyframes slideDown {
  0% {transform: translate3d(0, -100%, 0)} 
  100% {transform: translate3d(0, 0, 0)}
}
.imageViewerPage .navWrapper.slideUp {
  animation: slideUp 0.2s;
}
@keyframes slideUp {
  0% {transform: translate3d(0, 0, 0)} 
  100% {transform: translate3d(0, -100%, 0)}
}
.imageViewerPage .navWrapper > div{
  overflow: hidden;
  height: 22px;
  flex-grow: 1;
  padding: 10px;
  color: #fff4e8;
  text-align: center;
  border-right: 2px solid #737373;
}
.imageViewerPage .swiper-container {
  height: 100vh;
  width: 100vw;
  background: black;
}
.imageViewerPage .swiper-container.hide {
  display: none;
}
.imageViewerPage .swiper-container .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageViewerPage .swiper-container .swiper-slide img{
  max-height: 100vh;
  max-width: 100vw;
}
.imageViewerPage .foldersContainer{
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  margin-top: 42px; /* For the Nav above it.*/
}
.imageViewerPage .foldersContainer.show{
  display: flex;
}
.imageViewerPage .addToNewFolderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.imageViewerPage .addToNewFolderContainer .addImageToNewFolder {
  line-height: 25px;
  padding: 6px;
  max-width: 240px;
  min-width: 240px;
  border: 2px solid #737373;
  font-size: 1rem;
}
.imageViewerPage .addToNewFolderContainer label {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff4e8;
}
.imageViewerPage .existingFoldersContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.imageViewerPage .addToNewFolderContainer + label{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff4e8;
}

.imageViewerPage .folder{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff4e8;
  border: 1px solid #737373;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}
.imageViewerPage .folder .folderImageCount{
  opacity: 0.5;
  margin-left: 20px;
  font-size: 0.9em;
  margin-right: -2px;
}
.imageViewerPage .toast{
  z-index: 4;
  border-radius: 2px;
  position: fixed;
  visibility: hidden;
  padding: 16px;
  bottom: 30px;
  background-color:#d3869b  
}
.imageViewerPage .showToast{
  visibility: visible;
  animation: imageViewerToastFadeIn 0.5s, imageViewerToastFadeOut 0.6s 2.5s;
}
@keyframes imageViewerToastFadeIn {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes imageViewerToastFadeOut {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
